@use 'variables';
@use 'hero';
@use 'extras';
@use 'footer';
@use 'header';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body{
    background-color: variables.$backgroundColor;
    background-image: url(../images/national_treasure_backgroundx.png);
    background-repeat: no-repeat;

    @media (max-width: 768px){
        background-size: contain;
        width: 100%;
    }

    @media (min-width: 769px) and (max-width: 1024px){
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }
}